@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: gainsboro;
}
nav {
  background-color: white;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

nav ul a {
  text-decoration: none;
  margin: 0 3rem;
  font-size: 1.5rem;
  color: black;
}
nav ul {
  transition: 100ms linear;
}
nav ul:hover {
  transform: scale(1.1);
}

main {
  display: grid;
  grid-template-columns: 25% 1fr;
  grid-gap: 1rem;
  margin: 1rem;
}
#left,
#right {
  background-color: white;
  box-shadow: 2px 2px 5px #3f3f3f;
}
.left-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.left-image img {
  max-height: 200px;
  margin: 1rem auto;
}
progress {
  width: 90%;
}
.information,
.skills,
.languages {
  padding: 1rem;
  line-height: 2;
}
.calender {
  color: orangered;
}
#present {
  background-color: orangered;
  color: white;
  padding: 0.3rem;
  border-radius: 4px;
}
.experience,
.education {
  line-height: 2;
  padding: 2rem;
}

footer {
  background-color: orangered;
  text-align: center;
  line-height: 2;
  padding: 1rem 0;
  font-size: 1.5rem;
}
footer a {
  color: black;
}
